# Frontend
frontend/unpackage/
frontend/.hbuilderx/
frontend/node_modules/
frontend/dist/
frontend/build/

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/instance/
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/app.db
backend/.env

# Root
venv/
__pycache__/
instance/
.env

# General
.DS_Store
*.log
.idea/
.vscode/
